<app-navbar-bip />
<div class="container">
    <div class="row my-4">
        <div class="col text-center">
            <h2>Lista de Transporte</h2>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover border">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Identificación</th>
                    <th scope="col">Disponibilidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Disponible</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ocupado</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>En mantenimiento</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Disponible</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-center my-4">
        <button type="button" class="btn btn-yellow mx-2" routerLink="/editar-lista-transporte-proveedor">Editar</button>
        <button type="button" class="btn btn-yellow mx-2" routerLink="/bienvenido-proveedor">Volver</button>
    </div>
</div>