<app-navbar-bip />
<div class="container">
    <div class="row my-4">
        <div class="col text-center">
            <h2>Ubicaciones</h2>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover border">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre del almacén</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Ubicación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ubicacion of ubicaciones">
                    <td>{{ ubicacion.idubicacion }}</td>
                    <td>{{ ubicacion.direccion }}</td>
                    <td>{{ ubicacion.distrito }} / {{ubicacion.region}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-center my-4">
        <button type="button" class="btn btn-yellow mx-2" routerLink="/editar-almacenes-proveedor">Editar</button>
        <button type="button" class="btn btn-yellow mx-2" routerLink="/bienvenido-proveedor">Volver</button>
    </div>
</div>