<app-navbar-bip />
<div class="container">
    <div class="row my-4">
        <div class="col text-center">
            <h2>Asignar Transporte</h2>
        </div>
    </div>
    <form>
        <div class="form-group row">
            <label for="empresa" class="col-sm-2 col-form-label font-weight-bold">Empresa</label>
            <div class="col-sm-10">
                <select class="form-control" id="empresa">
                    <option>Nombre de la empresa</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="ubicacion" class="col-sm-2 col-form-label font-weight-bold">Ubicación</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="ubicacion" placeholder="Elija la ubicación del almacén">
            </div>
            <label for="almacen" class="col-sm-2 col-form-label font-weight-bold">Almacén</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="almacen" placeholder="Seleccione almacén">
            </div>
        </div>
        <div class="form-group row">
            <label for="cantidad" class="col-sm-2 col-form-label font-weight-bold">Cantidad</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="cantidad" placeholder="Cantidad de productos">
            </div>
            <label for="transporte" class="col-sm-2 col-form-label font-weight-bold">Transporte</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="transporte" placeholder="Elija el transporte">
            </div>
        </div>
        <div class="form-group row">
            <label for="productos" class="col-sm-2 col-form-label font-weight-bold">Productos</label>
            <div class="col-sm-10">
                <select class="form-control" id="productos">
                    <option>Lista de productos</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col text-center">
                <button type="button" class="btn btn-warning mx-2" routerLink="/bienvenido-proveedor">Cancelar</button>
                <button type="button" class="btn btn-warning mx-2">Generar Mapa</button>
            </div>
        </div>
    </form>
</div>