<body>
  <form class="my-form">
    <div class="login-welcome-row">
      <h1>Iniciar Sesión</h1>
      <h1>Proveedor</h1>
    </div>
    <div class="input__wrapper">
      <input
        type="text"
        id="dni"
        name="dni"
        class="input__field"
        placeholder="Documento de identidad (DNI)"
        required
        autocomplete="off"
        pattern="\d+"
        title="Ingrese solo números"
      />
      <label for="dni" class="input__label">Documento de identidad (DNI)</label>
      <!-- svg email -->
    </div>
    <div class="input__wrapper">
      <input
        id="password"
        type="password"
        class="input__field"
        placeholder="Contraseña"
        title="Minimum 6 characters at least 1 Alphabet and 1 Number"
        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
        required
        autocomplete="off"
      />
      <label for="password" class="input__label"> Contraseña </label>
      <!-- svg password -->
    </div>
    <button type="submit" class="my-form__button">Ingresar</button>
    <div class="my-form__actions">
      <div class="my-form__row">
        <span>¿Eres nuevo?</span>
        <a href="#" title="Create Account"> Crea Cuenta </a>
      </div>
    </div>
  </form>
</body>
