<app-navbar-bip/>
<section class="d-flex justify-content-center mt-5" style="min-height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12" style="width: 60%;">
                <h1 class="text-center">Seleccionar en el mapa</h1>
                <form class="row g-3 mt-4">
                    
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Region" disabled>
                    </div>

                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Distrito" disabled>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Direccion" disabled>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Tipo" disabled>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <app-mapa></app-mapa>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center mb-5">
            <button class="btn btn-warning mt-3 justify-content-center" routerLink="/administrar-local"><b>Agregar</b></button>
        </div>
    </div>
</section>
