<app-navbar-bip/>
<section class="d-flex justify-content-center mt-5" style="min-height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12" style="width: 60%;">
                <h1 class="text-center">Administrar Locales</h1>
                <form class="row g-3 mt-4">
                    <div class="col-md-3">
                        <select class="form-select" aria-label="Default select example">
                            <option value="">Tipo</option>
                            <option value="Almacen">Almacén</option>
                            <option value="Tienda">Tienda</option>
                        </select>
                    </div>
                
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-warning" routerLink="/administrar-mapa">Añadir Local</button>
                    </div>   
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12" style="width: 60%;">
                <table class="table mt-5 table-local table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col">Número</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (local of localesUbicaciones; track $index) {
                            <tr>
                                <td>{{local.idubicacion}}</td>
                                <td>{{local.nombre}}</td>
                                <td>{{local.tipo}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
