* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    padding: 1rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
}

.socials-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.socials-row img {
    width: 1.5rem;
    height: 1.5rem;
}

.socials-row>a {
    padding: 0.5rem;
    border-radius: 10rem;
    width: 100%;
    min-height: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: #1F2346;
    padding: 0.5rem;
    background: #E9E9E9;
    font-weight: 700;
}

.socials-row>a:hover {
    background: #dddddd;
}

.login-welcome-row {
    margin-bottom: 1rem;
    text-align: center;
}

.welcome-message {
    max-width: 24rem;
}

.logo {
    height: 4rem;
    margin: 0 auto;
}

.logo {
    color: #605DFF;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
    background: #FEE600;
    width: 100%;
    max-width: 32rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    height: fit-content;
}

.my-form__button {
    background: white;
    color: black;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    line-height: 3.125rem;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: .025rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 3.125rem;
    width: 100%;
    border-radius: 0.5rem;
    -webkit-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.my-form__button:hover {
    background: #d1d1d1;
}

/*? input wrapper */

.input__wrapper {
    position: relative;
    padding: 0.9375rem 0 0;
    margin-bottom: 0.5rem;
}

.input__field {
    font-size: 1.5rem;
    color: #1F2346;
    padding: 0.375rem 0;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    line-height: 2rem;
    height: 2rem;
    outline: 0;
    border: 0;
    width: 100%;
    vertical-align: middle;
    padding-bottom: 0.7rem;
    background: white;
    border-radius: 0.5rem;
}

.input__field::placeholder {
    color: transparent;
}

.input__label {
    position: absolute;
    top: -1.5rem;  /* Ajusta este valor según sea necesario */
    left: 0;
    display: block;
    font-size: 1.2rem;
    color: #1F2346;
    margin-bottom: 0.5rem;
}

.input__field:focus {
    border: 1px solid black;
}

.input__field:focus~.input__label {
    color: black;
}

.input__field:focus~svg {
    stroke: black;
}

.input__icon {
    position: absolute;
    right: -0.875rem;
    bottom: -0.6875rem;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.125rem;
    transform: translate(-50%, -50%);
    transform-origin: center;
    cursor: pointer;
}

.input__icon:hover {
    border-radius: 50%;
}


/* my form actions */

.my-form__actions {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #1D1D1D;
    gap: 1rem;
    margin-top: 0.5rem;
}

.my-form__actions a {
    color: #1D1D1D;
    font-weight: 600;
    text-decoration: none;
}

.my-form__actions a:hover {
    text-decoration: underline;
}

.my-form__row {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}
