<div class="container">
    <div class="row my-4">
        <div class="col text-center">
            <h2>Historial</h2>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover border">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Empresa</th>
                    <th scope="col">Productos</th>
                    <th scope="col">Local</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Restaurante “Mm Rico”</td>
                    <td>Ron Cartavio</td>
                    <td>La Unión</td>
                    <td>Entregado</td>
                </tr>
                <tr>
                    <td>Cevichería “El pez feliz”</td>
                    <td>Gaseosa Inka Kola</td>
                    <td>San Juan</td>
                    <td>En transito</td>
                </tr>
                <tr>
                    <td>Bar de Moe</td>
                    <td>Agua “Cielo”</td>
                    <td>Puebla</td>
                    <td>No contactado</td>
                </tr>
                <tr>
                    <td>Club Campestre “Verde”</td>
                    <td>Fourloko</td>
                    <td>Lima Center</td>
                    <td>Entregado</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-center my-4">
        <button type="button" class="btn btn-warning">Volver</button>
    </div>
</div>