<app-navbar-bip/>
<section class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12" style="width: 60%;">
                <h1 class="text-center">Ingresar datos de envío</h1>
                <form class="row g-3 mt-4">
                    
                    <label for="inputEmail4"><b>Local de Recojo</b></label>
                    <div class="col-md-4">
                      <input type="text" class="form-control" placeholder="Inserte local">
                    </div>

                    <label for="inputEmail4"><b>¿Qué envías?</b></label>
                    <div class="col-4">
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Producto">
                    </div>
                    <div class="col-4">
                        <input type="number" class="form-control" id="inputAddress2" placeholder="Cantidad" min="1">
                    </div>
                    
                    <label for="inputEmail4"><b>Local de Entrega</b></label>
                    <div class="col-4">
                        <input type="text" class="form-control" id="inputAddress" placeholder="Inserte Local">
                    </div>
                                        
                    <div class="col-12 d-flex justify-content-center align-items-center">
                      <button type="submit" class="btn btn-warning mt-4" routerLink="/resumen-envio">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
