<app-navbar-bip/>
<section>
    <div class="container">
        <div class="row">
            <h2 class="mt-5 text-center">Resumen de Envíos Registrados</h2>
            <div class="col-12">
                <table class="table mt-4">
                    <thead>
                      <tr>
                        <th scope="col">Recibe</th>
                        <th scope="col">Recojo</th>
                        <th scope="col">Direccion</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Miguel Vera</td>
                        <td>SJL</td>
                        <td>Av.Abancay Calle 8, Lote 5</td>
                        <td class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary">Editar</button>
                            <button type="button" class="btn btn-danger">Continuar</button>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <button class="btn btn-warning mt-3 justify-content-center" routerLink="/inicio-empresario"><b>Continuar</b></button>
            </div>
        </div>
    </div>
</section>