<app-navbar-bip/>
<section>
    <div class="container">
        <div class="row">
            <h2 class="mt-5 text-center">Resumen de Envíos Registrados</h2>
            <div class="col-12">
                <table class="table mt-4">
                    <thead>
                      <tr>
                        <th scope="col">Recibe</th>
                        <th scope="col">Tipo de Entrega</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Retorno de Carga</th>
                        <th scope="col">Precio de Envio</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Miguel Vera</td>
                        <td>Recojo en la tienda</td>
                        <td>Av.Abancay Calle 8, Lote 5</td>
                        <td>Arequipa - Ciudad Blanca</td>
                        <td>S/10.00</td>
                        <td>S/0.00</td>
                        <td class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary">Editar</button>
                            <button type="button" class="btn btn-danger">Continuar</button>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <button class="btn btn-warning mt-3 justify-content-center" routerLink="/inicio-empresario"><b>Pagar total "S/10.00"</b></button>
            </div>
        </div>
    </div>
</section>