<div class="container">
    <div class="row my-4">
        <div class="col text-center">
            <h2>Productos</h2>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover border">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre del producto</th>
                    <th scope="col">Cantidad de productos</th>
                    <th scope="col">Local de la empresa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cristal</td>
                    <td>5174</td>
                    <td>Arequipa – Ciudad Blanca *Ubicación exacta*</td>
                </tr>
                <tr>
                    <td>Pilsen Callao</td>
                    <td>9561</td>
                    <td>Otra ubicación</td>
                </tr>
                <tr>
                    <td>Guarana Backus</td>
                    <td>3336</td>
                    <td>En seres, Av Junín</td>
                </tr>
                <tr>
                    <td>San Juan</td>
                    <td>7785</td>
                    <td>Otra ubicación</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-center my-4">
        <button type="button" class="btn btn-yellow mx-2">Editar</button>
        <button type="button" class="btn btn-yellow mx-2">Volver</button>
    </div>
</div>