<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">BIP-BIP</a>
      <form class="d-flex" role="search">
        <button class="btn btn-light" type="submit">Ingresar</button>
      </form>
    </div>
</nav>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Bienvenido a BIP-BIP</h1>
            </div>
        </div>
    </div>
</section>