<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            BIP-BIP
            <img src="../../assets/img/roadrunner.png" alt="Roadrunner">
        </a>  
      <form class="d-flex" role="search">
        <button class="btn btn-light" type="submit">Ingresar</button>
      </form>
    </div>
</nav>

<section>
    <div class="container-fluid">
        <div class="row d-flex justify-content-start align-items-center">
            <div class="col-8">
                <h1>Bienvenido a BIP-BIP</h1>
                <h3>Somos una empresa repartidora de bebidas, entregamos tu pedido en tiempo récord.</h3>
            </div>
            <div class="col-4">
                <img src="../../assets/img/drinks.webp" alt="Drinks">
            </div>
        </div>
    </div>
</section>