<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de integrantes</title>
  </head>
  <body>
    <header>
      <h1>Algoritmo VRPPD</h1>
    </header>

    <div class="container">
      <p>
        Aplicación web creada para encontrar la ruta mínima para un
        conjunto de vehículos y un conjunto de <br />puntos de entrega y
        recogida.
      </p>

      <div class="integrantes">
        <h3>Integrantes</h3>
        <ol class="integrantes">
          <li>Jean Alessandro Lavaud Guevara</li>
          <li>Enmanuel Jose Obando Salinas</li>
          <li>Richard Maycol Torres Rivera</li>
          <li>Miguel Angel Vera Alva</li>
          <li>Bruno Pumapillo Sarmiento</li>
        </ol>

        <div class="image-container">
          <img src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt="Jean Alessandro Lavaud Guevara" />
          <img src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt="Enmanuel Jose Obando Salinas" />
          <img src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt="Richard Maycol Torres Rivera" />
          <img src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt="Miguel Angel Vera Alva" />
          <img src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt="Bruno Pumapillo Sarmiento" />
        </div>
      </div>
    </div>

    <footer>
      <p>&copy; 2024 Algoritmo VRPPD. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
