<div class="container">
    <div class="row my-4">
        <div class="col text-center">
            <h2>Almacenes</h2>
        </div>
    </div>

    <div class="table-container">
        <table class="table table-hover border">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre del almacén</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ubicacion of ubicaciones">
                    <td>{{ ubicacion.idubicacion }}</td>
                    <td>{{ ubicacion.direccion }}</td>
                    <td>{{ ubicacion.distrito }} / {{ ubicacion.region }}</td>
                    <td>
                        <button type="button" class="btn btn-warning" >Establecer inicio de ruta</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-center my-4">
        <button type="button" class="btn btn-warning mx-2" >Eliminar</button>
        <button type="button" class="btn btn-warning mx-2">Agregar</button>
        <button type="button" class="btn btn-warning mx-2">Guardar</button>
    </div>
</div>